### Scrapes Google Trends values

In [1]:
from pytrends.request import TrendReq
from pytrends import dailydata

import pandas as pd

In [2]:
pytrends = TrendReq()

In [19]:
kw_list = ['bitcoin', 'btc']

pytrends.build_payload(
    kw_list,
    cat=0,
    timeframe='2014-01-01 2022-11-06',
    geo='',
    gprop=''
)

### Attempt direct method

In [20]:
df = pytrends.interest_over_time()

In [21]:
df.head()

            bitcoin  btc  isPartial
date
2014-01-01        8    1      False
2014-02-01        9    1      False
2014-03-01        6    1      False
2014-04-01        4    1      False
2014-05-01        3    1      False

**Data returned is in monthly format**

### Attempt daily method

In [31]:
df_daily = dailydata.get_daily_data('bitcoin', 2014, 1, 2022, 12)

bitcoin:2014-01-01 2014-01-31
bitcoin:2014-02-01 2014-02-28
bitcoin:2014-03-01 2014-03-31
bitcoin:2014-04-01 2014-04-30
bitcoin:2014-05-01 2014-05-31
bitcoin:2014-06-01 2014-06-30
bitcoin:2014-07-01 2014-07-31
bitcoin:2014-08-01 2014-08-31
bitcoin:2014-09-01 2014-09-30
bitcoin:2014-10-01 2014-10-31
bitcoin:2014-11-01 2014-11-30
bitcoin:2014-12-01 2014-12-31
bitcoin:2015-01-01 2015-01-31
bitcoin:2015-02-01 2015-02-28
bitcoin:2015-03-01 2015-03-31
bitcoin:2015-04-01 2015-04-30
bitcoin:2015-05-01 2015-05-31
bitcoin:2015-06-01 2015-06-30
bitcoin:2015-07-01 2015-07-31
bitcoin:2015-08-01 2015-08-31
bitcoin:2015-09-01 2015-09-30
bitcoin:2015-10-01 2015-10-31
bitcoin:2015-11-01 2015-11-30
bitcoin:2015-12-01 2015-12-31
bitcoin:2016-01-01 2016-01-31
bitcoin:2016-02-01 2016-02-29
bitcoin:2016-03-01 2016-03-31

ResponseError: The request failed: Google returned a response with code 429.

**Google blocks request as it believes there's a spam request occuring**

### Attempt daily method, but broken yearly

In [5]:
df_1 = dailydata.get_daily_data('bitcoin', 2022, 12, 2023, 1)

bitcoin:2022-12-01 2022-12-31
bitcoin:2023-01-01 2023-01-31

In [6]:
df_1

            bitcoin_unscaled  bitcoin_monthly  isPartial  scale  bitcoin
date
2022-12-01                91               86      False   0.86    78.26
2022-12-02                87               82      False   0.82    71.34
2022-12-03                75               71      False   0.71    53.25
2022-12-04                74               69      False   0.69    51.06
2022-12-05                83               78      False   0.78    64.74
2022-12-06                85               80      False   0.80    68.00
2022-12-07                83               78      False   0.78    64.74
2022-12-08                81               76      False   0.76    61.56
2022-12-09                83               78      False   0.78    64.74
2022-12-10                70               66      False   0.66    46.20
2022-12-11                71               67      False   0.67    47.57
2022-12-12                76               72      False   0.72    54.72
2022-12-13               100               94      False   0.94    94.00
2022-12-14                96               90      False   0.90    86.40
2022-12-15                89               83      False   0.83    73.87
2022-12-16                86               81      False   0.81    69.66
2022-12-17                78               74      False   0.74    57.72
2022-12-18                69               64      False   0.64    44.16
2022-12-19                76               72      False   0.72    54.72
2022-12-20                79               74      False   0.74    58.46
2022-12-21                79               74      False   0.74    58.46
2022-12-22                84               79      False   0.79    66.36
2022-12-23                75               70      False   0.70    52.50
2022-12-24                64               60      False   0.60    38.40
2022-12-25                72               68      False   0.68    48.96
2022-12-26                70               66      False   0.66    46.20
2022-12-27                76               72      False   0.72    54.72
2022-12-28                83               78      False   0.78    64.74
2022-12-29                77               73      False   0.73    56.21
2022-12-30                73               69      False   0.69    50.37
2022-12-31                61               57      False   0.57    34.77
2023-01-01                60               60      False   0.60    36.00
2023-01-02                65               65      False   0.65    42.25
2023-01-03                63               63      False   0.63    39.69
2023-01-04                66               66      False   0.66    43.56
2023-01-05                65               65      False   0.65    42.25
2023-01-06                62               62      False   0.62    38.44
2023-01-07                56               56      False   0.56    31.36
2023-01-08                49               49      False   0.49    24.01
2023-01-09                64               64      False   0.64    40.96
2023-01-10                62               62      False   0.62    38.44
2023-01-11                62               62      False   0.62    38.44
2023-01-12                78               78      False   0.78    60.84
2023-01-13                82               82      False   0.82    67.24
2023-01-14               100              100      False   1.00   100.00
2023-01-15                77               77      False   0.77    59.29
2023-01-16                89               89      False   0.89    79.21
2023-01-17                88               88      False   0.88    77.44
2023-01-18                89               89      False   0.89    79.21

In [27]:
df_1 = dailydata.get_daily_data('bitcoin', 2014, 1, 2015, 1)

bitcoin:2014-01-01 2014-01-31
bitcoin:2014-02-01 2014-02-28
bitcoin:2014-03-01 2014-03-31
bitcoin:2014-04-01 2014-04-30
bitcoin:2014-05-01 2014-05-31
bitcoin:2014-06-01 2014-06-30
bitcoin:2014-07-01 2014-07-31
bitcoin:2014-08-01 2014-08-31
bitcoin:2014-09-01 2014-09-30
bitcoin:2014-10-01 2014-10-31
bitcoin:2014-11-01 2014-11-30
bitcoin:2014-12-01 2014-12-31
bitcoin:2015-01-01 2015-01-31

In [29]:
df_2 = dailydata.get_daily_data('bitcoin', 2015, 1, 2016, 1)

bitcoin:2015-01-01 2015-01-31
bitcoin:2015-02-01 2015-02-28
bitcoin:2015-03-01 2015-03-31
bitcoin:2015-04-01 2015-04-30
bitcoin:2015-05-01 2015-05-31
bitcoin:2015-06-01 2015-06-30
bitcoin:2015-07-01 2015-07-31
bitcoin:2015-08-01 2015-08-31
bitcoin:2015-09-01 2015-09-30
bitcoin:2015-10-01 2015-10-31
bitcoin:2015-11-01 2015-11-30
bitcoin:2015-12-01 2015-12-31
bitcoin:2016-01-01 2016-01-31

In [35]:
df_3 = dailydata.get_daily_data('bitcoin', 2016, 1, 2017, 1)

bitcoin:2016-01-01 2016-01-31
bitcoin:2016-02-01 2016-02-29
bitcoin:2016-03-01 2016-03-31
bitcoin:2016-04-01 2016-04-30
bitcoin:2016-05-01 2016-05-31
bitcoin:2016-06-01 2016-06-30
bitcoin:2016-07-01 2016-07-31
bitcoin:2016-08-01 2016-08-31
bitcoin:2016-09-01 2016-09-30
bitcoin:2016-10-01 2016-10-31
bitcoin:2016-11-01 2016-11-30
bitcoin:2016-12-01 2016-12-31
bitcoin:2017-01-01 2017-01-31

*Create checkpoint*

In [41]:
df_2014_2017 = pd.concat([df_1, df_2, df_3])

In [44]:
df_2014_2017.head()

            bitcoin_unscaled  bitcoin_monthly isPartial  scale  bitcoin
date
2014-01-01                46              NaN       NaN    NaN      NaN
2014-01-02                50              NaN       NaN    NaN      NaN
2014-01-03                52              NaN       NaN    NaN      NaN
2014-01-04                45              NaN       NaN    NaN      NaN
2014-01-05                52             50.0     False    0.5     26.0

In [43]:
df_2014_2017.tail()

            bitcoin_unscaled  bitcoin_monthly isPartial  scale  bitcoin
date
2017-01-27                36             48.0       NaN   0.48    17.28
2017-01-28                35             48.0       NaN   0.48    16.80
2017-01-29                37             52.0     False   0.52    19.24
2017-01-30                37             52.0       NaN   0.52    19.24
2017-01-31                38             52.0       NaN   0.52    19.76

In [46]:
df_2014_2017.to_csv('../../data/BTC_GTrends_2014_2017.csv')

*Continue fetch*

In [49]:
df_4 = dailydata.get_daily_data('bitcoin', 2017, 1, 2018, 1)

bitcoin:2017-01-01 2017-01-31
bitcoin:2017-02-01 2017-02-28
bitcoin:2017-03-01 2017-03-31
bitcoin:2017-04-01 2017-04-30
bitcoin:2017-05-01 2017-05-31
bitcoin:2017-06-01 2017-06-30
bitcoin:2017-07-01 2017-07-31
bitcoin:2017-08-01 2017-08-31
bitcoin:2017-09-01 2017-09-30
bitcoin:2017-10-01 2017-10-31
bitcoin:2017-11-01 2017-11-30
bitcoin:2017-12-01 2017-12-31
bitcoin:2018-01-01 2018-01-31

In [53]:
df_5 = dailydata.get_daily_data('bitcoin', 2018, 1, 2019, 1)

bitcoin:2018-01-01 2018-01-31
bitcoin:2018-02-01 2018-02-28
bitcoin:2018-03-01 2018-03-31
bitcoin:2018-04-01 2018-04-30
bitcoin:2018-05-01 2018-05-31
bitcoin:2018-06-01 2018-06-30
bitcoin:2018-07-01 2018-07-31
bitcoin:2018-08-01 2018-08-31
bitcoin:2018-09-01 2018-09-30
bitcoin:2018-10-01 2018-10-31
bitcoin:2018-11-01 2018-11-30
bitcoin:2018-12-01 2018-12-31
bitcoin:2019-01-01 2019-01-31

In [55]:
df_6 = dailydata.get_daily_data('bitcoin', 2019, 1, 2020, 1)

bitcoin:2019-01-01 2019-01-31
bitcoin:2019-02-01 2019-02-28
bitcoin:2019-03-01 2019-03-31
bitcoin:2019-04-01 2019-04-30
bitcoin:2019-05-01 2019-05-31
bitcoin:2019-06-01 2019-06-30
bitcoin:2019-07-01 2019-07-31
bitcoin:2019-08-01 2019-08-31
bitcoin:2019-09-01 2019-09-30
bitcoin:2019-10-01 2019-10-31
bitcoin:2019-11-01 2019-11-30
bitcoin:2019-12-01 2019-12-31
bitcoin:2020-01-01 2020-01-31

*Create checkpoint*

In [56]:
df_2017_2020 = pd.concat([df_4, df_5, df_6])

In [57]:
df_2017_2020.to_csv('../../data/BTC_GTrends_2017_2020.csv')

*Continue fetch*

In [63]:
df_7 = dailydata.get_daily_data('bitcoin', 2020, 1, 2021, 1)

bitcoin:2020-01-01 2020-01-31
bitcoin:2020-02-01 2020-02-29
bitcoin:2020-03-01 2020-03-31
bitcoin:2020-04-01 2020-04-30
bitcoin:2020-05-01 2020-05-31
bitcoin:2020-06-01 2020-06-30
bitcoin:2020-07-01 2020-07-31
bitcoin:2020-08-01 2020-08-31
bitcoin:2020-09-01 2020-09-30
bitcoin:2020-10-01 2020-10-31
bitcoin:2020-11-01 2020-11-30
bitcoin:2020-12-01 2020-12-31
bitcoin:2021-01-01 2021-01-31

In [66]:
df_8 = dailydata.get_daily_data('bitcoin', 2021, 1, 2022, 1)

bitcoin:2021-01-01 2021-01-31
bitcoin:2021-02-01 2021-02-28
bitcoin:2021-03-01 2021-03-31
bitcoin:2021-04-01 2021-04-30
bitcoin:2021-05-01 2021-05-31
bitcoin:2021-06-01 2021-06-30
bitcoin:2021-07-01 2021-07-31
bitcoin:2021-08-01 2021-08-31
bitcoin:2021-09-01 2021-09-30
bitcoin:2021-10-01 2021-10-31
bitcoin:2021-11-01 2021-11-30
bitcoin:2021-12-01 2021-12-31
bitcoin:2022-01-01 2022-01-31

*Create checkpoint*

In [70]:
df_2020_2022 = pd.concat([df_7, df_8])

In [72]:
df_2020_2022.to_csv('../../data/BTC_GTrends_2020_2022.csv')

*Fetch last bit*

In [269]:
df_9 = dailydata.get_daily_data('bitcoin', 2022, 1, 2022, 11)

bitcoin:2022-01-01 2022-01-31
bitcoin:2022-02-01 2022-02-28
bitcoin:2022-03-01 2022-03-31
bitcoin:2022-04-01 2022-04-30
bitcoin:2022-05-01 2022-05-31
bitcoin:2022-06-01 2022-06-30
bitcoin:2022-07-01 2022-07-31
bitcoin:2022-08-01 2022-08-31
bitcoin:2022-09-01 2022-09-30
bitcoin:2022-10-01 2022-10-31
bitcoin:2022-11-01 2022-11-30

In [270]:
df_2022_current = pd.concat([df_9])
df_2022_current.to_csv('../../data/BTC_GTrends_2022_onwards.csv')

*The above datasets consists of duplicates - clean them*

In [273]:
df_14_17 = pd.read_csv('../../data/GTrends/BTC_GTrends_2014_2017.csv')
df_17_20 = pd.read_csv('../../data/GTrends/BTC_GTrends_2017_2020.csv')
df_20_22 = pd.read_csv('../../data/GTrends/BTC_GTrends_2020_2022.csv')
df_22_current = pd.read_csv('../../data/GTrends/BTC_GTrends_2022_onwards.csv')

df_14_17.set_index('date', inplace=True)
df_17_20.set_index('date', inplace=True)
df_20_22.set_index('date', inplace=True)
df_22_current.set_index('date', inplace=True)

In [274]:
df_14_17.head()

            bitcoin_unscaled  bitcoin_monthly isPartial  scale  bitcoin
date
2014-01-01                46              NaN       NaN    NaN      NaN
2014-01-02                50              NaN       NaN    NaN      NaN
2014-01-03                52              NaN       NaN    NaN      NaN
2014-01-04                45              NaN       NaN    NaN      NaN
2014-01-05                52             50.0     False    0.5     26.0

In [276]:
df_14_17.size, df_17_20.size, df_20_22.size, df_22_current.size

(5945, 5940, 3965, 1555)

In [277]:
df_14_17 = df_14_17[~df_14_17.index.duplicated(keep='first')]
df_17_20 = df_17_20[~df_17_20.index.duplicated(keep='first')]
df_20_22 = df_20_22[~df_20_22.index.duplicated(keep='first')]
df_22_current = df_22_current[~df_22_current.index.duplicated(keep='first')]

In [278]:
df_14_17.size, df_17_20.size, df_20_22.size, df_22_current.size

(5635, 5630, 3810, 1555)

*Create combined trend dataset*

In [279]:
df_total = pd.concat([df_14_17, df_17_20, df_20_22, df_22_current])

In [280]:
df_total.to_csv('../../data/GTrends/BTC_GTrends_total.csv')

*Clean data*

In [281]:
df = pd.read_csv('../../data/GTrends/BTC_GTrends_total.csv')
df.drop(['bitcoin_monthly', 'isPartial', 'scale', 'bitcoin'], axis=1, inplace=True)
df.set_index('date', inplace=True)

In [282]:
df.to_csv('../../data/GTrends/BTC_GTrends_total_cleaned.csv')

***

### Fetching most recent data

In [333]:
from pytrends.request import TrendReq
import pandas as pd
import datetime
import numpy as np

In [169]:
pytrends = TrendReq()

kw_list = ['bitcoin']

pytrends.build_payload(
    kw_list,
    cat=0,
    timeframe='now 7-d',
    geo='',
    gprop=''
)

In [192]:
df = pytrends.interest_over_time()
df

                     bitcoin  btc  isPartial
date
2022-11-04 07:00:00       18    6      False
2022-11-04 08:00:00       18    7      False
2022-11-04 09:00:00       18    6      False
2022-11-04 10:00:00       17    6      False
2022-11-04 11:00:00       17    6      False
...                      ...  ...        ...
2022-11-11 02:00:00       36   12      False
2022-11-11 03:00:00       35   12      False
2022-11-11 04:00:00       37   12      False
2022-11-11 05:00:00       40   12      False
2022-11-11 06:00:00       42   13       True

[168 rows x 3 columns]

In [193]:
df.head()

                     bitcoin  btc  isPartial
date
2022-11-04 07:00:00       18    6      False
2022-11-04 08:00:00       18    7      False
2022-11-04 09:00:00       18    6      False
2022-11-04 10:00:00       17    6      False
2022-11-04 11:00:00       17    6      False

In [194]:
df.drop(['btc', 'isPartial'], inplace=True, axis=1)
df.head()

                     bitcoin
date
2022-11-04 07:00:00       18
2022-11-04 08:00:00       18
2022-11-04 09:00:00       18
2022-11-04 10:00:00       17
2022-11-04 11:00:00       17

In [205]:
df.index = pd.to_datetime(df.index).date

In [209]:
df.index.rename('date', inplace=True)

In [211]:
df

            bitcoin
date
2022-11-04       18
2022-11-04       18
2022-11-04       18
2022-11-04       17
2022-11-04       17
...             ...
2022-11-11       36
2022-11-11       35
2022-11-11       37
2022-11-11       40
2022-11-11       42

[168 rows x 1 columns]

In [284]:
grouped_df.head()

            bitcoin_unscaled
date
2022-11-04                18
2022-11-04                18
2022-11-04                17
2022-11-04                17
2022-11-04                17
2022-11-05                19
2022-11-05                19
2022-11-05                17
2022-11-05                18
2022-11-05                18
2022-11-06                17
2022-11-06                16
2022-11-06                14
2022-11-06                14
2022-11-06                14
2022-11-07                18
2022-11-07                17
2022-11-07                16
2022-11-07                16
2022-11-07                17
2022-11-08                18
2022-11-08                16
2022-11-08                16
2022-11-08                17
2022-11-08                21
2022-11-09                36
2022-11-09                34
2022-11-09                31
2022-11-09                33
2022-11-09                33
2022-11-10                71
2022-11-10                60
2022-11-10                58
2022-11-10                55
2022-11-10                56
2022-11-11                40
2022-11-11                35
2022-11-11                35
2022-11-11                35
2022-11-11                36

In [214]:
grouped_df = df.groupby(level=0)
group_result = grouped_df.agg({'bitcoin':'mean'})

In [215]:
group_result

              bitcoin
date
2022-11-04  20.235294
2022-11-05  18.375000
2022-11-06  16.541667
2022-11-07  18.875000
2022-11-08  27.875000
2022-11-09  48.625000
2022-11-10  54.583333
2022-11-11  38.142857

***

### Create functions for server scripts

In [356]:
def get_available_data():
    '''
    Get current available data
    '''
    df = pd.read_csv('../../data/GTrends/BTC_GTrends_total_cleaned.csv')

    # Ensure date column is in datetime format
    df['date'] = pd.to_datetime(df['date'])
    df.sort_values(['date'], inplace=True)
    return df

def get_new_trends_data():
    '''
    Fetch latest Trends data
    '''
    pytrends = TrendReq()
    kw_list = ['bitcoin']
    pytrends.build_payload(
        kw_list,
        cat=0,
        timeframe='now 7-d',
        geo='',
        gprop=''
    )

    curr_data = pytrends.interest_over_time()
    return curr_data

def format_new_data(df):
    '''
    Converts the obtained data into the format of the available data
    '''
    df.rename(columns={ 'bitcoin': 'bitcoin_unscaled' }, inplace=True)
    
    # Create stringified dates
    df.index = [str(i) for i in pd.to_datetime(df.index).date]
    df.index.rename('date', inplace=True)
    
    # As the data obtained is for every hour, get an average of it all for each day
    grouped_df = df.groupby(level=0)
    avg_df = grouped_df.agg({ 'bitcoin_unscaled': 'mean' })
    return avg_df

def clean_new_data():
    '''
    Remove unneeded columns of fetched data
    '''
    df = get_new_trends_data()
    df.drop(['isPartial'], axis=1, inplace=True)
    avg_df = format_new_data(df)
    return avg_df

def update_data():
    '''
    Main runner. Combines existing data & new data as to create
    an updated dataframe
    '''
    avail_df = get_available_data()
    curr_df = clean_new_data()
    
    avail_df.set_index('date', inplace=True)
    combined_df = pd.concat([avail_df, curr_df])
    
    # Remove any duplicate observations
    combined_df.index = pd.to_datetime(combined_df.index)
    combined_df = combined_df[~combined_df.index.duplicated(keep='first')]
    
    # Round value
    combined_df['bitcoin_unscaled'] = [int(np.ceil(i)) for i in combined_df['bitcoin_unscaled']]
    combined_df.sort_index(inplace=True)
    return combined_df

def export_data(df):
    '''
    Save data
    '''
    df.to_csv('../../data/GTrends/BTC_GTrends_total_cleaned.csv')

In [357]:
combined_df = update_data()

In [358]:
combined_df.tail(20)

            bitcoin_unscaled
date
2022-10-23                67
2022-10-24                81
2022-10-25                86
2022-10-26                92
2022-10-27                83
2022-10-28                78
2022-10-29                72
2022-10-30                75
2022-10-31                77
2022-11-01                91
2022-11-02                94
2022-11-03                91
2022-11-04                90
2022-11-05                93
2022-11-06                81
2022-11-07               100
2022-11-08                28
2022-11-09                50
2022-11-10                55
2022-11-11                39

In [360]:
export_data(combined_df)

### The above method has been abandoned by the authot as of March 10th 2023. Due to Google blocking the IP address and rate limitations.

### Use same Twitter volume and block reward size scraper

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
URL = 'https://bitinfocharts.com/comparison/google_trends-btc.html#alltime'
response = requests.get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
scripts = soup.find_all('script')

In [3]:
def parse(string_list):
    '''
    parse list of strings within the script tag
    [date, volume]
    '''

    clean = re.sub('[\[\],\s]', '', string_list)
    splitted = re.split("[\'\"]", clean)
    values_only = [s for s in splitted if s != '']
    return values_only

def process_scripts():
    '''
    Scrape URL script tag and extract trends & respective date
    '''

    dates = []
    trends = []

    for script in scripts:
        if 'd = new Dygraph(document.getElementById("container")' in script.text:
            str_lst = script.text
            str_lst = '[[' + str_lst.split('[[')[-1]
            str_lst = str_lst.split(']]')[0] +']]'
            str_lst = str_lst.replace('new Date(', '').replace(')', '')
            data = parse(str_lst)

    for each in data:
        if (data.index(each) % 2) == 0:
            dates.append(each)
        else:
            trends.append(each)

    return dates, trends

def create_dataframe():
    '''
    Create dataframe from scraped trends and dates
    '''

    dates, trends = process_scripts()
    df = pd.DataFrame(list(zip(dates, trends)), columns=['Date', 'bitcoin_unscaled'])
    return df

def export_data(df):
    '''
    Save data
    '''

    df.to_csv('../../data/BTC_GTrends.csv')

In [4]:
df = create_dataframe()

In [5]:
df.head()

         Date bitcoin_unscaled
0  2010/01/01             null
1  2010/01/02             null
2  2010/01/03             null
3  2010/01/04             null
4  2010/01/05             null

In [6]:
df.tail()

            Date bitcoin_unscaled
4804  2023/02/26           16.091
4805  2023/02/27           17.576
4806  2023/02/28           16.834
4807  2023/03/01           15.596
4808  2023/03/02           17.329

In [7]:
export_data(df)