### Scrapes historical price values

In [3]:
import requests
import json
import pandas as pd

In [7]:
# API reference: http://api.scraperlink.com/investpy/
BASE_URL = 'http://api.scraperlink.com/investpy/?email=your@email.com&type=historical_data&product=cryptos&symbol=BTC'

In [8]:
def get_crypto_data(start, end):
    '''
    Scrape data current solution
    Possible to break in future, therefore must create a dedicated scraper, if time permits
    '''
    response = requests.request(
        'GET',
        f'{BASE_URL}&from_date={start}&to_date={end}'
    )
    return response.json()['data']

def create_dataframe(prices):
    '''
    Create dataframe of fetched prices
    '''
    return pd.DataFrame(prices)

def export_data(df):
    '''
    Save data
    '''
    df.to_csv('../../data/BTC_Prices.csv')

In [9]:
prices = get_crypto_data('09/27/2017', '09/28/2022')

In [10]:
df = create_dataframe(prices)

In [11]:
df.head()

,direction_color,rowDate,rowDateRaw,rowDateTimestamp,last_close,last_open,last_max,last_min,volume,volumeRaw,change_precent,last_closeRaw,last_openRaw,last_maxRaw,last_minRaw,change_precentRaw
0,greenFont,"Sep 28, 2022",1664323200,2022-09-28T00:00:00Z,"19,411.0","19,083.4","19,757.8","18,505.3",581.19K,581187,1.73,19410.95507812500000,19083.36718750000000,19757.81835937500000,18505.34375000000000,1.729255
1,redFont,"Sep 27, 2022",1664236800,2022-09-27T00:00:00Z,"19,081.0","19,228.8","20,361.2","18,850.4",660.12K,660115,-0.75,19080.99609375000000,19228.77148437500000,20361.21484375000000,18850.42187500000000,-0.752554
2,greenFont,"Sep 26, 2022",1664150400,2022-09-26T00:00:00Z,"19,225.7","18,803.1","19,304.8","18,695.2",516.03K,516032,2.25,19225.67968750000000,18803.09960937500000,19304.77343750000000,18695.17968750000000,2.246992
3,redFont,"Sep 25, 2022",1664064000,2022-09-25T00:00:00Z,"18,803.2","18,925.1","19,125.1","18,659.6",209.71K,209712,-0.64,18803.17382812500000,18925.14453125000000,19125.06640625000000,18659.61523437500000,-0.644777
4,redFont,"Sep 24, 2022",1663977600,2022-09-24T00:00:00Z,"18,925.2","19,288.4","19,310.6","18,812.0",258.50K,258501,-1.91,18925.19921875000000,19288.39453125000000,19310.55664062500000,18811.95507812500000,-1.909106

In [12]:
export_data(df)